@charset "UTF-8";

h1 {
    margin: 30px auto;
    text-align: center;
}

a {
    text-decoration: none;
}

#botao {
    margin: 30px auto;
    text-align: center;
}

#card {
    box-shadow: 10px 10px 10px black;
}